html, body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#header {
    height: 140px
}

#content {
    position: absolute;
    bottom: 0px;
    top: 140px;
    width: 100%;
    overflow: hidden;
	text-align: center;
    padding-top:20px;
	
}


.break
{
	max-height: 45.5%;
	padding: 1% 0;
	position: relative
}

document, html, body
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	background-color: #f2f2f2;
	color: black;
	font-family: "Open Sans"
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

div.inner
{
	margin: 0 10%
}

/*
 HEADER
*/
div.header_container
{
	height: 200px;
	margin-bottom: -200px
}

div.header
{
	width: 100%;
	height: 35px;
	overflow: hidden;
	background: url(../images/header_bg.png) repeat-x
}

div.header .information
{
	float: right;
	color: white;
	font: 0.8em "Open Sans"
}

div.header .information img
{
	vertical-align: middle
}

img.divider
{
	margin: 0 2em
}

button.logout
{
	background: url(../images/logout_button.png) no-repeat;
	border: 0;
	width: 87px;
	height: 22px;
	color: white;
	font: 0.9em "Open Sans Semibold";
	cursor: pointer
}

/*
 NAVIGATION
*/
#topnav
{
    padding-top: 60px;
}
#nav
{
	padding: 1.2em 0 0 0;
	background-color: #f6f6f6
}

#nav ul
{
	padding-left: 3%
}

#nav ul ul
{
	display: none
}


#nav ul li:hover > ul
{
	display: block
}

#nav ul
{
	list-style: none;
	position: relative;
	display: inline-table;
	margin: 0
}

#nav ul:after
{
	content: "";
	clear: both;
	display: block
}

#nav ul li
{
	float: left
}


#nav ul li a
{
	height: 3em;
	border-left: 1px solid #d4d4d4
}
	
#nav ul li:first-child a
{
	border-left: none
}

#nav ul li a {
	display: block;
	color: black;
	font: 1em "Open Sans";
	font-weight: bold;
	padding: 0 1em;
	text-decoration: none
}

#nav ul ul 
{
	z-index: 10;
	position: absolute;
	top: 100%;
	font-size: 0.8em;
	overflow: visible;
}

#nav ul ul li {
	z-index: 10;
	float: none;
	position: relative;
	background-color: #e9e9e9;
	border-right: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	padding: 0.5em !important;
	height: 1.5em !important
}

#nav ul ul li:last-child
{
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom: 1px solid #f5f5f5
}

#nav ul ul li a
{
	white-space: nowrap;
	border: 0;
	padding: 0.5em 0.3em 0.5em 0.3em;
	border-top: 1px solid #d0d0d0 !important;
	margin: 0
}

#nav ul ul li a:hover
{
	background: none
}

#nav ul ul li:nth-child(2) a
{
	border-top: 0 !important;
}

#nav ul ul li:nth-child(2)
{
	-webkit-box-shadow: inset 0px 16px 9px -12px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    inset 0px 16px 9px -12px rgba(50, 50, 50, 0.3);
	box-shadow:         inset 0px 16px 9px -12px rgba(50, 50, 50, 0.3);
}

/* nudges the rest of submenus down */
#nav ul ul li.hidden
{
	height: 16px !important;
	background: none !important;
	border: 0 !important
}

#nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0
}

div.border
{
	position: relative;
	height: 38px;
	width: 100%;
	background: url(../images/nav_border.png) repeat-x
}
/*
 BODY
*/
div.body
{
	height: 100%;
	padding-top: 200px
}

div.box
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: url(../images/box_bg.png) repeat-x;
	border: 1px solid white;
	position: relative;
	box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
	height: 100%;
	margin: 0 15%
}

#overview
{
	background: url(../images/box_dark_bg.png) repeat-x;
	font: 1.2em "Open Sans Semibold";
	-webkit-border-bottom-right-radius: 0px !important;
	-webkit-border-bottom-left-radius: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	-moz-border-radius-bottomleft: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	margin-bottom: 0 !important
}

#account
{
	-webkit-border-top-right-radius: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	margin-top: 0 !important;
	padding: 1em
}

.account
{
	float: left;
	width: 45%;
	padding: 0.8em 0
}

.account:first-child
{
	margin-right: 3%;
	border-right: 1px solid #ccc;
	padding-right: 3%
}

.account .name
{
	float: left;
}

.account .amount
{
	float: right;
	text-align: right
}

/** PROGRESS **/
#progresswrapper
{
	width: 100%;
	float: left;
	margin: 2em 0
}

#progress 
{
	padding: 0 20px 0 0;
	margin-right: 150px
}

#goal
{
	width: 150px;
	float: left;
	margin: 2em 0;
	margin-left: -150px;
	text-align: center
}

#progress .outerbar
{
	border-radius: 100px;
	height: 35px;
	background-color: #444;
	padding: 4px
}

#progress .innerbar
{
	border-radius: 100px;
	height: 100%;
	width: 50%;
	background-color: orange;
	text-align: center;
	color: white;
	font: 0.9em "Open Sans Semibold";
	background: #fda220; /* Old browsers */
	background: -moz-linear-gradient(top, #fda220 0%, #de8200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fda220), color-stop(100%,#de8200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fda220 0%,#de8200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fda220 0%,#de8200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fda220 0%,#de8200 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fda220 0%,#de8200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda220', endColorstr='#de8200',GradientType=0 )
}

#progress .innerbar > span
{
	position: relative;
	top: 4px
}

#progress .detailed_progress
{
	float: left;
	text-align: center
}

#progress .detailed_progress .bar
{
	-webkit-border-radius: 800px;
	-moz-border-radius: 800px;
	border-radius: 800px;
	background: url(../images/progress_bg.png) repeat-x;
	border: 1px solid white;
	position: relative;
	box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
	color: white;
	border-radius: 200px;
	font: 0.9em "Open Sans Semibold";
	margin: 0 0 0 0.5em;
	padding: 1em
}

#progress .detailed_progress .bar .reason
{
	color: #999
}

#progress .detailed_progress > img
{
	position: relative;
	top: 6px;
	z-index: 100
}
/*
 FOOTER
*/
div.footer
{
	background: url(../images/footer.png) repeat-x;
	height: 174px
}

/*
	LOGIN CSS
*/
div.login_header
{
	padding: 3% 0 2% 25%
}

div.login_body
{
	height: 73%;
	position: relative;
	overflow: hidden;
	text-align: center
}

div.login_body .bg
{
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 100
}

div.login
{
	margin: auto;
	display: inline-block;
	position: relative;
	z-index: 101;
	background-color: rgba(255, 255, 255, 0.4);
	position: relative;
	top: 37%;
	margin-top: -5%
}

div.login .login_inner
{
	margin: 0.8em;
	padding-top: 1em;
	color: #666;
	font: 1em "Open Sans Semibold";
	background: #ffffff; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
}

input.password, input.username
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #636f80;
	font: 18px "Open Sans";
	border: 1px solid #e9e9e9;
	height: 40px;
	padding-left: 65px;
	margin: 0 1em
}

input.password
{
	background: white url(../images/password.png) no-repeat;
}

input.username
{
	background: white url(../images/username.png) no-repeat;
}

div.login .login_inner button
{
	background: #f58620 url(../images/login_arrow.png) no-repeat right;
	width: 100%;
	border: 0;
	color: white;
	font: 18px "Open Sans Semibold";
	height: 60px
}

div.login_footer
{
	height: 800%;
	background-color: #1c3f65
}

/**
 CONTROL DISPLAYS
**/
.bar *
{
	display: block;
	margin: auto;
	vertical-align: middle
}

/**
 * SMALL DISPLAYS
 */
@media all and (max-height:600px) {
	.bar *
	{
		display: inline;
		padding: 0;
		margin: 0
	}
	
	.bar
	{
		padding: 0em
	}
	
	body
	{
		font-size: 0.7em
	}
	
	.break:first-child
	{
		margin-top: 4em
	}
	
	div.footer
	{
		display:none
	}

}

.ButtonLogin {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:25px;
	-moz-border-radius-topleft:25px;
	border-top-left-radius:25px;
	-webkit-border-top-right-radius:25px;
	-moz-border-radius-topright:25px;
	border-top-right-radius:25px;
	-webkit-border-bottom-right-radius:25px;
	-moz-border-radius-bottomright:25px;
	border-bottom-right-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	-moz-border-radius-bottomleft:25px;
	border-bottom-left-radius:25px;
	text-indent:0px;
	border:2px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:20px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.ButtonLogin:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.ButtonLogin:active {
	position:relative;
	top:1px;
}


.error {
	color:red;
	font-size: 14px;
}
.small_link {
	color: #3B73AF;
	text-decoration: none;
	/*font-size: 10px;*/
}
.small_link:HOVER {
	text-decoration: underline;
}